<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="arxbasepath" value="C:\POPStage\UQA"/>
    <add key="uqasubdirectoreis" value="ABFT64;ARST64;PREUP64;POSTUP64"/>
    <add key="origtokenvalues"  value="%DOMAIN;%SITE;%URLEXP;%UAD_PATH;%SQL_SRVR;%SVC_MACHINE"/>
    <add key="newtokenvalues" value="5410;CYGNET;C:\\ATS\\Export;C:\\ATS\\POPBuild\\UQA\\AssetsDev;localhost;localhost"/>
    <add key=""/>
  </appSettings>
</configuration>