<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsRunningATS" value="true" />
    <add key="WellStart" value="1" />
    <add key="WellsEnd" value="15" />
    <add key="Server" value="usdcpopappqa002" />
    <add key="Domain" value="5410" />
    <add key="Site" value="CYGNET" />
    <add key="CVSService" value="UIS" />
    <add key="POPServerConfig" value="C:\POPWS\Server\out\bin\Debug\POPServer.exe.config" />
    <add key="ForeSiteServerPath" value="C:\Workspace\Perforce\ForesiteTrunk\out\bin\Debug" />
    <add key="NegativeAuthDomain" value="" />
    <add key="NegativeAuthUser" value="" />
    <add key="NegativeAuthPassword" value="" />
    <add key="ImpersonateForAllTests" value="false" />
    <add key="ImpersonationDomain" value="" />
    <add key="ImpersonationUser" value="" />
    <add key="ImpersonationPassword" value="" />
    <add key="SearchTxtForESP" value="ESPWELL_" />
    <add key="SearchTxtForGL" value="GLWELL_" />
    <add key="SearchTxtForNFW" value="NFWWELL_" />
    <add key="SearchTxtForGI" value="GASINJWELL_" />
    <add key="SearchTxtForWI" value="WATERINJWELL_" />
    <add key="SearchTxtForPL" value="PGLWELL_" />
    <add key="Facility_commfl" value="RPOC_00030" />
    <add key="DeleteAllWellsBeforeTestExecution" value="false" />
    <add key="RelativeFacilityGlobalSettingsPath" value="BSS\SETTINGS\GlobalSettings.gsf" />

  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_SurfaceNetwork" maxReceivedMessageSize="2147483647" sendTimeout="00:15:00" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="SurfaceNetworkBase" address="net.tcp://localhost:5777/Weatherford/ReOService/" contract="Weatherford.ReoService.Interfaces.IReOService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_SurfaceNetwork" />
      <endpoint name="SurfaceNetworkSnapshot" address="net.tcp://localhost:5777/Weatherford/SnapshotService/" contract="Weatherford.ReoService.Interfaces.ISnapshotService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_SurfaceNetwork" />
      <endpoint name="SurfaceNetworkEquipment" address="net.tcp://localhost:5777/Weatherford/EquipmentService/" contract="Weatherford.ReoService.Interfaces.IEquipmentService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_SurfaceNetwork" />
      <endpoint name="SurfaceNetworkResults" address="net.tcp://localhost:5777/Weatherford/ResultsService/" contract="Weatherford.ReoService.Interfaces.IResultsService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_SurfaceNetwork" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>