<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BrowserURL" value="http://localhost:2678" />
    <add key="HostName" value="localhost" />
    <add key="ExportLocation" value="C:\%USERPROFILE%\Downloads\" />
    <add key="FilesLocation" value="C:\ForeSite\Trunk\Testing\Integration Tests\POPServer.IntegrationTests\TestDocuments" />
    <add key="CurrentUserId" value="3"/>
    <add key="Domain" value="22224" />
    <add key="CygNetSite" value="SIERRA" />
    <add key="CygNetFacility" value="RPOC_00002" />
    <add key="IsRunningInATS" value="true" />
    <add key="Exports" value="C:" />
    <add key="GlobalTimeout" value="60" />
    <add key="SearchTxtForESP" value="ESP" />
    <add key="SearchTxtForGL" value="GL" />
    <add key="SearchTxtForNFW" value="NFW" />
    <add key="SearchTxtForGINJ" value="GINJ" />
    <add key="SearchTxtForWINJ" value="WINJ" />
    <add key="Browser" value="IE" />
    <add key="RMExecution" value="true"/>
    <!--Can be IE or Chrome-->
  </appSettings>
</configuration>