<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDynaCardLibrary" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="DynaCardLibrary" address="net.tcp://localhost:5309/DynaCardLibrary/Service/" contract="Weatherford.DynaCardLibrary.API.Operations.IDynaCardLibrary" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDynaCardLibrary" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key ="FacilityPadding" value ="D5" />
    <add key ="WellTestCount" value = "25" />
    <add key ="YearsOfData" value = "1" />
    <add key ="ModelFilesPerYear" value = "5" />
    <add key ="NotesPerWell" value = "1000" />
    <add key ="JobsPerWell" value = "10" />
    <add key ="ComponentHistory" value = "4" />
    <!--ComponentHistory * 29 instances will be created-->
    <add key ="FailureJobsPerWell" value = "5" />
    <add key ="DynaCard" value = "C:\ForeSite\Trunk\UQA\AssetsDev\Brysch-Adams 3H CC.xml" />
    <add key ="DynaCardType" value = "1" />
    <!--default will be 1(Current Card)-->
    <add key ="AssetName" value="Asset"/>
    <add key ="SurfaceNetworkPath" value="C:\Pravin_Survase"/>
    <add key ="NetworkModelName" value="WFT_Field"/>
    <!--Specify NetworkModelName without extension(.reo)-->
    <add key ="NoOfScenario" value="1"/>
    <add key ="AddScenarioInScheduler" value ="1"/>
  </appSettings>
</configuration>