<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BrowserURL" value="http://localhost:8000" />
    <add key="HostName" value="localhost" />
    <add key="IsRunningInATS" value="true" />
    <add key="Domain" value="5410" />
    <add key="CygNetSite" value="CYGNET" />
    <add key="CVSService" value="UIS" />
    <add key="GlobalTimeout" value="10" />
    <add key="LogLevel" value="1" />
    <add key="Browser" value="chrome" />
    <add key="CygNetFacility" value="RPOC_00002" />
    <add key="CygNetFacilityESP" value="ESPWELL_00001" />
    <add key="FilesLocation" value="C:\Workspace\Perforce\ForeSiteTrunk\UQA\AssetsDev" />
    <add key="Exports" value="C:\Workspace\TestResults" />
    <add key="HtmlReportName" value="UpgradeTests.html" />
    <add key="ForeSiteServerPath" value="C:\Workspace\Perforce\ForeSiteTrunk\out\bin\Debug\" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>