<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CatalogServiceBasicHttpBinding" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <client>
      <endpoint name="CatalogService" address="http://localhost/CatalogService/soapService" contract="MasterCatalogService.IMasterCatalogService" binding="basicHttpBinding" bindingConfiguration="CatalogServiceBasicHttpBinding"/>
    </client>

  </system.serviceModel>
</configuration>
