<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="src" value="\\wft\us\USDC-Groups6\POBuilds\ReleaseBuild\POP\Trunk\"/>
    <add key="dst" value="\\meinwesswks7\ForeSite\Installer"/>
    <add key="UQAsrc" value="\\wft\us\USDC-Groups6\POBuilds\ReleaseBuild\POP\R4_1_2_Release"/>
    <add key="UQAdst" value="\\meinwesswks6\ATS\UQATest"/>
    <add key="desiredFolders" value="UQA"/>
    <add key="attempts" value=""/>
    <add key="skipfolders" value="Symbols"/>
    <add key="targetfile" value="Weatherford_ForeSite"/>
    <add key="lastcount" value=""/>
    <add key="Hourstocheck" value="72"/>
    <add key="latest" value="y"/>
  </appSettings>
</configuration>