<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="src" value="\\wft\us\USDC-Groups6\POBuilds\ReleaseBuild\POP\Trunk\"/>
    <add key="dst" value="c:\temp"/>
    <add key="UQAsrc" value="\\wft\us\USDC-Groups6\POBuilds\ReleaseBuild\POP\Trunk\"/>
    <add key="UQAdst" value="c:\temp"/>
    <add key="desiredFolders" value="ExtraFiles"/>
    <add key="attempts" value=""/>
    <add key="skipfolders" value="Symbols"/>
    <add key="targetfile" value="Weatherford_ForeSite"/>
    <add key="lastcount" value=""/>
    <add key="Hourstocheck" value="24"/>
    <add key="latest" value="y"/>
    <add key="Foldercopy" value="true"/>
    <add key="CopyFolderswithoutParent" value="true"/>
  </appSettings>
</configuration>