<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="buildpath" value=""/>
    <add key="server" value="."/>
    <add key="dbname" value="POP"/>
    <add key="domain" value="5410"/>
    <add key="vhssite" value="VHS"/>
    <add key="sitename" value="CYGNET"/>
  </appSettings>
</configuration>