<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="buildpath" value=""/>
    <add key="sqlservername" value=".\SQLExpress"/>
    <add key="dbname" value="ForeSite"/>
    <add key="domain" value="5410"/>
    <add key="vhssite" value="VHS"/>
    <add key="sitename" value="CYGNET"/>
    <add key="licserver" value="27000@10.144.200.80"/>
  </appSettings>
</configuration>