<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RunBucket"  value="ARST"/>
    <add key="Branch"  value="POP"/>
    <add key="Source"  value="remote"/>
    <add key="SendEmail"  value="true"/>
    <!--<add key="NameList"  value="Prasanna;Pravin;Hardik;Swati;Ranjita;Sudhir"/>-->
    <!--<add key="EmailList"  value="prasanna.hegde@weatherford.com;Pravin.Survase@weatherford.com;Hardik.Doshi@Weatherford.com;swati.dumbre@Weatherford.com;Ranjita.Sharma@weatherford.com;Sudhir.Suryawanshi@weatherford.com"/>-->
    <add key="NameList"  value="Prasanna"/>
    <add key="EmailList"  value="prasanna.hegde@weatherford.com"/>
    <add key="ARSTFormat"  value=""/>
    <add key="ABFTLocation" value="C:\temp\UQAScripts"/>
    <add key="ARSTLocation" value="C:\temp\UQAScripts"/>
    <add key="OutLocation" value="C:\ATS\UQAScripts"/>
    <add key="SendEmail" value="false"/>
    <add key="SMTPSERVER" value="false"/>
    <add key="SMTPPORT" value="false"/>
    <add key="SMTPUSER" value="false"/>
    <add key="SMTPPWD" value="false"/>
  </appSettings>
</configuration>